@{
    ViewData["Title"] = "Home Page";
}

@model Product
<div class="text-center">
    <h1><a href="/">Products</a> | <a href="/Category">Categories</a></h1>
    <form asp-action="CreateProduct" asp-controller="Home" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input type="text" asp-for="Description" class="form-control">
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input type="text" asp-for="Price" class="form-control">
            <span asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </form>

    <table class="table col-sm-6 mx-auto">
        <thead>
            <tr>
                <th scope="col">
                    <h1>Existing Products</h1>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in @ViewBag.allproducts)
            {
                <tr>
                    <td><a asp-controller="Home" asp-action="ShowProduct"
                        asp-route-ProductId="@product.ProductId">@product.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
